{% block footer %}

<div class="container-fluid">
                    <nav>
                        <ul class="footer-menu">
                            <li class = 'nav-item'>
                                <a class = 'font-weight-bold' href="https://www.dlsu.edu.ph/privacy/">
                                    Read: DLSU Website Policy
                                </a>
                            </li>
                            <li class = 'nav-item'>
                                <a class = 'font-weight-bold' href="https://www.privacy.gov.ph/implementing-rules-regulations-data-privacy-act-2012/">
                                    Read: Data Privacy Act of 2012
                                </a>
                            </li>
                            <li class = 'nav-item'>
                            	<a class = 'font-weight-bold' href="#">
                                    FAQs
                                </a>
                            </li>
                            
                        </ul>

                        <p class="copyright text-center">
                            ©
                            <script type = 'text/javascript'>
                                document.write(new Date().getFullYear())
                            </script>
                            <a class = 'font-weight-bold' href="#">Data Privacy Compliance Management System</a>
                        </p>
                    </nav>
                </div>
                
{% endblock %}