{% extends 'PDI/base.html'%}

{% block webtitle %} Personal Data Inventory {% endblock %}

{% block content %}

<div class="container-fluid">
                    

                    <div class="row">
                        <div class="col-md-12">
                            <div class="card  card-tasks">
                                <div class="card-header col-12">
                                    <div class = 'col-6'>
                                        <h4 class="card-title">Personal Data Inventory</h4>

                                    <span class = 'justify-content-end'>
                                        <button class = 'btn btn-primary btn-fill'
                                    onclick="window.location='create-pdi-form.html'"> 
                                    New
                                </button>
                                    </span>

                                    </div>
                                 </div>

                                <div class="card-body col-md-12 mx-auto">
                                    <div class="table-responsive table-full-width">
                                        
                                        {% if activities %}
                                        <table class="table table-hover" id = 'index'>
                                            <thead class = 'table-info'>
                                                    <th>Timestamp</th>
                                                    <th>Submission ID</th>
                                                    <th>Office</th>
                                                    <th>Name of Activity</th>
                                                    <th></th>
                                            </thead>

                                            <tbody>
                                            {% for activity in activities %}
                                                <form class = 'form-group'
                                                action = '{% url "PDI:update" activity.id %}'>
                                                    <tr id= 'row'>
                                                        <td>{{ activity.date_created }}</td>
                                                        <td>{{ activity.id }}</td>
                                                        <td>{{ activity.office_set.first.abbr }}</td>
                                                        <td>{{ activity.name }}</td>
                                                           <td> <button type="submit" class="btn btn-info btn-simple btn-fill"
                                                            >
                                                               View
                                                            </button>
                                                        </td>
                                                </tr>
                                                </form>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                        {% else %}
                                                    <h5 class = 'text-center'>
                                                    Data Inventory is empty... </h6>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="card-footer ">
                                    <hr>
                                    <div class="stats">
                                        <strong> Submitted activities: {{ total_act }} </strong>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


{% endblock content %}